# =========================
# Node / Frontend
# =========================

node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.ruff_cache/

# Vite
.vite/

# =========================
# Python / FastAPI
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
pyrightconfig.json

# virtual environments
venv/
.venv/
env/

# =========================
# Environment files
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

frontend/.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Build artifacts
# =========================

build/
coverage/

# =========================
# Documentation 
# =========================

_docs/
repomix-output.xml

# =========================
# AI 
# =========================

.opencode/
AGENTS.md
